/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}



.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}




body {
  font-family: arial, sans-serif;
  background-color: #232f3e;
  color: #ccc;
  font-size: 18px;
}
button {
  background-color: white;
  color: #f08804;
  font-size: 24px;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
}
button:hover {
  background-color: #ccc;
}
h1 {
  margin: 0 0 0 20px;
}
table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 10px 0;
}
th {
  color: #f08804;
  font-weight: bold;
}
td {
  padding-top: 4px;
}

img {
  width: 100%;
  background-repeat: no-repeat;
}
form, input, select {
  font-size: 18px;
}
span {
  color: #f08804;
  font-style: italic;
}
footer {
  background-color: #232f3e;
  height: 50px;
  width: 100%;
  color: white;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.top-buffer {
  width: 100%;
  height: 100px;
  color: white;
  font-size: 60px;
  padding: 36px 0 10px 0;
}
.nav-buttons {
  margin: 10px;
  padding: 20px;
}
.views {
  background-color: white;
  color: #333;
  padding-top: 10px;
  padding-left: 20px;
}
.route {
  margin-left: 20px;
}
.submit {
  background-color: #232f3e;
  font-size: 18px;
}
.submit:hover {
  background-color: #232f3e;
  color: white;
}
.bold {
  font-weight: bold;
}
.total {
  padding-top: 8px;
  padding-bottom: 8px;
}