

<div class="route">
    <p>I would like the addresses on file for <select ng-model="idSelected" ng-change="getAddresses()" ng-options="person as person.name for person in people track by person.id"></select></p>
<br>
    <ul>
        <li ng-repeat="address in addresses">
            <span class="bold">{{address.address_type}}</span></b><br>
            {{address.address_street}}<br>
            {{address.address_city}} , {{address.address_state}} {{address.address_zip}}<br><br>
        </li>
    </ul>
</div>